@import "index.scss";

.Container {
  color: $text-color;
  max-width: $max-width;
  margin: 0px auto;

  .FetchMoreContainer {
    text-align: center;
    margin: 28px 0px;

    .FetchMoreButton {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      color: $primary-blue;
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
