
$white: #fff;
$lightest-grey: #fafafa;
$light-gray: #F4F8FC;
$dark-light-gray: #dddddd;
$light-black: #8C8C8C;
$black: #222222;
$text-color: #212529;


$primary-blue: #3767B7;
$hover-primary-blue: #184884;
$lightest-primary-blue: #2D6EBE;

$golden: #CEA14D;

$primary-button: #232a40;
$primary-button-hover: #138496;
